name: CI
on: [push]
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Install pnpm
              uses: pnpm/action-setup@v3
              with:
                  version: 9
                  run_install: false
            - name: Use Node.js v18
              uses: actions/setup-node@v4
              with:
                  node-version: 18
                  cache: pnpm
            - name: Install dependencies
              run: pnpm install
            - name: Commit lockfile
              run: |
                  git config --global user.name 'github-actions[bot]'
                  git config --global user.email 'github-actions[bot]@users.noreply.github.com'
                  git add pnpm-lock.yaml
                  git diff --staged --quiet || git commit -m "Regenerate pnpm-lock.yaml"
                  git push || echo "No changes to push"
            - name: Lint
              run: pnpm lint
            - name: Setup files & build
              if: success() || failure()
              run: pnpm setup-files && pnpm build
